.zcompdump*
/Audiobooks/
/Music/
/Emby/
/Pictures/
/Videos/
/Movies/
/Moviestemp/
/Moviestest/
/Series/
/snaps/
*.o
st
dwm
config.h
pack
plugged
_plugged
.netrwhist
.netrwbook
.cfg
.dotfiles.git
tags
